#Para desactivar opciones de configuracion solo comente la linea con "#"
#Para activar opciones solo borre la almohadilla de la linea "#"

#De momento no tiene utilidad la ip
# IP_SERVER = 192.168.0.0

#Puerto en el que va a funcionar el servidor
PORT_SERVER = 0
